.dashboard-main {
    display: flex;
    flex-direction: column;
}

.dashboard-content {
    display: flex;
    flex-direction: row;
}

.page-content {
    width: 100%;

}

.content-wrapper {
    min-width: 100%;
    min-height: 100%;
    padding: 80px;
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.left-box {
    width: 60%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 32px;
}

.top-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.greeting-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.greeting-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    /* identical to box height, or 125% */

    display: flex;
    align-items: center;

    /* Naturals / N500 */

    color: #353535;
}

.greeting-message {
    /* Samplead Larg body */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height, or 138% */

    display: flex;
    align-items: center;
    font-feature-settings: 'tnum' on, 'lnum' on;

    /* Naturals / N400 */

    color: #535353;
}

.new-project-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
}

.bottom-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 32px 32px 10px;
    gap: 32px;


}

.bottom-wrapper-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.campaign-card-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
}

.campaign-card-wrapper::nth-child(even) {
    justify-content: flex-start;
}

.campaign-card-container {
    width: 34%;
    flex: .5;
}

.right-box {
    width: 30%;
    padding: 32px;
    gap: 32px;
    display: flex;
    flex-direction: column;
}

.right-box-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 18px 0px 26px;
    gap: 230px;
    
    width: 246px;
    height: 65px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.right-box-header-text {
    width: 136px;
height: 21px;

/* Samplead body bold */

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
/* identical to box height */

letter-spacing: 0.01em;

/* Naturals / N300 */

color: #7A7A7A;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.right-box-statistics-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 40px;
}